:root {
  --dark: #6f38c5;
  --medium: #c689c6;
  --light: #ffabe1;
  --white: #ffffff;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto" sans-serif;
}

body {
  background-color: var(--white);
  font-family: "Roboto", sans-serif;

  /* color: white; */
}

#container {
  max-width: 75%;
  margin: 0 auto;
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 1.2rem 0;
  position: sticky;
}

.navbars {
  display: flex;
}

.link {
  list-style-type: none;
  margin-left: 1.8rem;
  font-weight: 300;
}

header ul li a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  padding-bottom: 5px;
  color: #000b;
  transition: 0.7s ease;
  border-bottom: 2px solid var(--white);
}

header ul li:focus a {
  border-bottom: 5px solid var(--dark);
  color: var(--dark);
}

header ul li a:hover {
  border-bottom: 2px solid var(--dark);
  color: var(--dark);
}

@media screen and (max-width: 500) {
  header {
    flex-direction: column;
  }
}

section {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  width: 100%;
}

/*home page*/
#home {
  background-image: url("bg2.jpg");
  background-size: cover;
  background-position: bottom;
  border-radius: 30px;
  padding: 80px;
  overflow: hidden;
}
#home p {
  margin-bottom: 2rem;
}

/* #home img{
    width: 70%;
    position: absolute;
    z-index: 1;
} */

h2.title {
  z-index: 10;
  text-align: center;
  margin-bottom: 8rem;
  font-size: 3rem;
  font-weight: 700;
  transform: translateY(-50px);
  letter-spacing: 2px;
  color: #000c;
}

.section {
  padding: 0 3rem;
  text-align: center;
}

#home .desc {
  transform: translateY(-150px);
  font-size: 1.3rem;
  color: #000c;
}
#home p:first-child {
  z-index: 10;
  font-size: 2rem;
  font-weight: 900;
}

.section p:last-of-type {
  z-index: 10;
  font-size: 1.3rem;
  font-weight: 500;
}

footer {
  margin-bottom: 2rem;
  font-size: 1.1rem;
  color: gray;
}

.colorsBg div {
  height: 80px;
  width: 80px;
  background-color: #000;
  display: inline-block;
  border: 5px solid white;
  border-radius: 2px;
  margin: 10px;
  box-shadow: 3px 4px 5px #0003;
}

.colorsBg .colBg1 {
  background-color: #f5ddf3;
}

.colorsBg .colBg2 {
  background-color: #2e2139;
}

.colorsBg .colBg3 {
  background-color: #664f83;
}

.colorsBg .colBg4 {
  background-color: #55416f;
}

.colorsBg .colBg5 {
  background-color: #7d5a8e;
}

/* GUIDE SECTION */

#guide {
  width: 150%;
  background-color: #ffabe133;
  margin-top: 50px;
}

.sec-title {
  transform: translateY(-50px);
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: 3px;
  text-align: left;
}

.step {
  display: inline-block;
  height: 300px;
  width: 200px;
  background-color: var(--white);
  margin: 10px;
  margin-left: 30px;
  padding: 30px;
  border-radius: 70px 5px 70px 5px;
  box-shadow: 5px 7px 10px #0003;
  transition: 0.9s;
}
.step:hover {
  cursor: pointer;
  box-shadow: 15px 17px 20px #0003;
}
.step:hover p {
  color: var(--white);
}
.step h2 {
  position: absolute;
  font-size: 170px;
  transform: translateY(-30px) translateX(-10px);
}
.step p {
  position: absolute;
  color: #0007;
  transform: translateY(200px);
}
.step-1:hover {
  background-color: var(--dark);
}
.step-2:hover {
  background-color: var(--medium);
}
.step-3:hover {
  background-color: var(--light);
}
.step-4:hover {
  background-color: #a56ef7;
}
.step-1 h2 {
  color: var(--dark);
}
.step-2 h2 {
  color: var(--medium);
}
.step-3 h2 {
  color: var(--light);
}
.step-4 h2 {
  color: #a56ef7;
}
.step:hover h2 {
  color: white;
}

/*color page*/
#color {
  margin-top: 300px;
}
h3 {
  font-size: 25px;
  color: grey;
}
.playground {
  width: 100%;
  text-align: center;
  border-radius: 15px;
  height: auto;
  padding: 30px;
  align-items: center;
  justify-content: center;
}
input[type="color"] {
  width: 200px;
  height: 40px;
  padding: 0;
  border: none;
  margin: 0;
  outline: none;
  border-radius: 3px;
  background-color: #fff;
  cursor: pointer;
}
.hhh {
  box-shadow: 10px 14px 15px #0003, -2px -3px 5px #0001;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}
.result {
  width: 768px;
  min-height: 512px;
  justify-content: center;
  align-content: center;
  background-color: var(--light);
  transform: translateX(150px) translateY(-20px);
  border-radius: 10px;
  border: 20px solid white;
  box-shadow: 2px 3px 5px #0003, -2px -3px 5px #0001;
}
.result p {
  margin-top: 100px;
  font-size: 30px;
  font-weight: 400;
  word-spacing: 10px;
  color: var(--white);
}
.submit-button {
  cursor: pointer;
  width: 130px;
  height: 50px;
  text-align: center;
  margin: 20px;
  padding: 15px;
  border-radius: 5px;
  background-color: var(--medium);
  box-shadow: 10px 14px 15px #0003;
  margin-left: 45%;
  color: #fff;
  font-weight: 500;
  letter-spacing: 2px;
  transform: scale(1);
  transition: 0.8s;
}
.submit-button:hover {
  transform: scale(1.1);
}

.result-img {
  width: 100%;
  height: 100%;
}
.loader-cover {
  width: 100%;
  justify-content: center;
  align-content: center;
  margin-left: 40%;
}
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid var(--dark); /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* code {
    font-size: 1.2rem;
    color: black;
}

b {
	padding: 16px;
}

.box{
    width: 250px;
    height: 400px;
    background-color: rgb(117, 129, 140);
    color: white;
    font-size: 30px;
    margin: 20px;
    padding: 20px;
    border: 5px solid #535353;
    box-sizing: border-box;
    
  }

.colorBox{
    display: flex;
}

.boxList {
    list-style: none;
    padding: 24px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 0px;
}

.boxList li {
    width: 24px;
    height: 24px;    
    cursor: pointer;
    transition: transform 0.3s;
}

.boxList li:hover {
    transform: scale(1.1);
} */

/* FOOTER */
footer {
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--white);
  height: auto;
  width: 100vw;
  padding-top: 40px;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-content h3 {
  font-size: 2.1rem;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 3rem;
  color: var(--dark);
}

.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
  color: var(--medium);
}

.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}

.socials li {
  margin: 0 10px;
}

.socials a {
  text-decoration: none;
  color: var(--dark);
  padding: 5px;
}

.socials a i {
  font-size: 1.1rem;
  width: 20px;
  transition: color 0.4s ease;
}

.socials a:hover i {
  color: black;
}

.footer-bottom {
  background: var(--dark);
  width: 100vw;
  padding: 20px;
  padding-bottom: 40px;
  text-align: center;
}

.footer-bottom p {
  float: left;
  color: #fff;
  font-size: 14px;
  word-spacing: 2px;
}

.footer-bottom p a {
  color: var(--white);
  font-size: 16px;
  text-decoration: none;
}

.footer-bottom span {
  text-transform: uppercase;
}

.footer-menu {
  float: right;
}

.footer-menu ul {
  display: flex;
}

.footer-menu ul li {
  padding-right: 10px;

  display: block;
}

.footer-menu ul li a {
  color: #cfd2d6;

  text-decoration: none;
}

.footer-menu ul li a:hover {
  color: #27bcda;
}

@media (max-width: 500px) {
  .footer-bottom p {
    float: none;
  }

  .footer-menu ul {
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
  }
}
.content{
    transform: translateY(100px);
    color: #fff;
    text-align: center;
    padding: 100px;
    width: 100%;
    height: 300px;
    border-radius: 30px;  
    background-image: url("finalbg.jpg");
    background-size: cover;
    background-position: center;
}
