:root {
  --dark: #6F38C5;
  --medium: #C689C6;
  --light: #FFABE1;
  --white: #FFFFFF;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto' sans-serif;

}

body {
    background-color: var(--white);
    font-family: 'Roboto', sans-serif;

    /* color: white; */
}

#container {
    max-width: 75%;
    margin: 0 auto;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 1.2rem 0;
    position: sticky;
}

.navbars {
    display: flex;
}

.link {
    list-style-type: none;
    margin-left: 1.8rem;
    font-weight: 300;
}

header ul li a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    padding-bottom: 5px;
    color: #000B;
    transition: 0.7s ease; 
    border-bottom: 2px solid var(--white);
}

header ul li:focus a{
    border-bottom: 5px solid var(--dark);
    color: var(--dark);
}

header ul li a:hover {
    border-bottom: 2px solid var(--dark);
    color: var(--dark);
}

@media screen and (max-width: 500){
    header{
        flex-direction: column;
    }
    
}

section{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    width: 100%;
}

/*home page*/
#home{
    background-image: url("bg2.jpg");
    background-size: cover;
    background-position: bottom;
    border-radius: 30px;
    padding: 80px;
    overflow: hidden;
    
}
#home p{
    margin-bottom: 2rem;
}

/* #home img{
    width: 70%;
    position: absolute;
    z-index: 1;
} */

h2.title {
    z-index: 10;
    text-align: center;
    margin-bottom: 8rem;
    font-size: 3rem;
    font-weight: 700;
    transform: translateY(-50px);
    letter-spacing: 2px;
    color: #000C;
  }


.section {
    padding: 0 3rem;
    text-align: center;
}

#home .desc{
    transform: translateY(-150px);
    font-size: 1.3rem;
    color: #000C;
}
#home p:first-child {
    z-index: 10;
    font-size: 2rem;
    font-weight: 900;
}

.section p:last-of-type {
    z-index: 10;
    font-size: 1.3rem;
    font-weight: 500;
}

footer {
    margin-bottom: 2rem;
    font-size: 1.1rem;
    color: gray;
}

.colorsBg div{
    height: 80px;
    width: 80px;
    background-color: #000;
    display: inline-block;
    border: 5px solid white;
    border-radius: 2px;
    margin: 10px;
    box-shadow: 3px 4px 5px #0003;
}

.colorsBg .colBg1{
    background-color: #F5DDF3;
}

.colorsBg .colBg2{
    background-color: #2E2139;
}

.colorsBg .colBg3{
    background-color: #664F83;
}

.colorsBg .colBg4{
    background-color: #55416F;
}

.colorsBg .colBg5{
    background-color: #7D5A8E;
}

/* GUIDE SECTION */

#guide{
    transform: translateY(-200px);
}
/*color page*/
h3 {
    font-size: 25px;
    color: grey;
}

input[type="color"] {
    background-color: #fff;
    padding: 10px;
    width: 200px;
    height: 30px;
    cursor: pointer;
    border: 2px solid #000;
    border-radius: 3px;
}

code {
    font-size: 1.2rem;
    color: black;
}

b {
	padding: 16px;
}

.box{
    width: 250px;
    height: 400px;
    background-color: rgb(117, 129, 140);
    color: white;
    font-size: 30px;
    margin: 20px;
    padding: 20px;
    border: 5px solid #535353;
    box-sizing: border-box;
    
  }

.colorBox{
    display: flex;
}

.boxList {
    list-style: none;
    padding: 24px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 0px;
}

.boxList li {
    width: 24px;
    height: 24px;    
    cursor: pointer;
    transition: transform 0.3s;
}

.boxList li:hover {
    transform: scale(1.1);
}