* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #333;
    color: white;
}

h1{
    font-size: 1.5rem;
    font-weight: 700;
}

#container {
    max-width: 700px;
    margin: 0 auto;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 1.2rem 0;
    position: sticky;
}

.navbars {
    display: flex;
}

.link {
    list-style-type: none;
    margin-left: 1.5rem;
}

header ul li a {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 800;
    padding-bottom: 5px;
    color: gray;
}

header ul li:focus a{
    border-bottom: 5px solid;
    color: white;
}

header ul li a:hover {
    border-bottom: 5px solid;
    color: white;
}

@media screen and (max-width: 500){
    header{
        flex-direction: column;
    }
    
}

section{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}

/*home page*/
#home p{
    margin-bottom: 2rem;
}

h2.title {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 900;
  }


.section {
    padding: 0 3rem;
    text-align: center;
}


#home p:first-child {
    font-size: 2rem;
    font-weight: 900;
}

.section p:last-of-type {
    font-size: 1.3rem;
    font-weight: 500;
}

footer {
    margin-bottom: 2rem;
    font-size: 1.1rem;
    color: gray;
}


/*color page*/
h3 {
    font-size: 25px;
    color: grey;
}

input[type="color"] {
    background-color: #fff;
    padding: 10px;
    width: 200px;
    height: 30px;
    cursor: pointer;
    border: 2px solid #000;
    border-radius: 3px;
}

code {
    font-size: 1.2rem;
    color: black;
}

b {
	padding: 16px;
}

.box{
    width: 250px;
    height: 400px;
    background-color: rgb(117, 129, 140);
    color: white;
    font-size: 30px;
    margin: 20px;
    padding: 20px;
    border: 5px solid #535353;
    box-sizing: border-box;
    
  }

.colorBox{
    display: flex;
}

.boxList {
    list-style: none;
    padding: 24px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 0px;
}

.boxList li {
    width: 24px;
    height: 24px;    
    cursor: pointer;
    transition: transform 0.3s;
}

.boxList li:hover {
    transform: scale(1.1);
}